* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

/* Workspace Buttons */
#workspaces button label {
  color: #ebdbb2;
  padding: 0 10px;
}

#workspaces button.active label {
  color: #1d2021;
}

#workspaces button.active {
  background: #689D6A;
}

#clock,
#battery,
#pulseaudio,
#tray,
#language,
#weather {
  padding: 0 10px;
  margin: 0 10px;
}

#language {
  margin: 0;
  color: #A9B665;
  border-bottom: 5px solid #A9B665;
}

#custom-weather {
  margin: 0;
  color: #89B482;
  border-bottom: 5px solid #89B482;
}

#pulseaudio {
  margin: 0;
  color: #7DAEA3;
  border-bottom: 5px solid #7DAEA3;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #EA6962;
  border-bottom: 5px solid #7DAEA3;
}

#battery {
  margin: 0;
  color: #D3869B;
  border-bottom: 5px solid #D3869B;
}

#clock {
  margin: 0;
  color: #D3869B;
  border-bottom: 5px solid #D3869B;
}

#tray {
  margin: 0;
  color: #EA6962;
  border-bottom: 5px solid #EA6962;
}
