* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
}

window {
	background-color: #1d2021;
}

button {
	color: #7c6f64;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color: #282828;
	animation: gradient_f 20s ease-in infinite;
	border: 5px solid #282828;
	border-radius: 0;
}


button:focus,
button:active,
button:hover {
	color: #7c6f64;
	background-color: #282828;
	border: 5px solid #333e34;
	border-radius: 0;
}

/* Adjust the size of the icon or content inside the button */
button span {
	font-size: 1.2em;
	/* Increase the font size */
}

#lock {
	background-image: image(url("/icons/lock.png"), url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"), url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"), url("icons/suspend.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"), url("icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"), url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"), url("icons/reboot.png"));
}
